---
http_interactions:
- request:
    method: get
    uri: https://staging.beyonic.com/api/collections/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token d349087313cc7a6627d77ab61163d4dab6449b4c
      Beyonic-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id": 1, "remote_transaction_id": null, "organization": 5, "amount":
        "100.0000", "currency": 2, "phonenumber": "+254727843600", "payment_date":
        "2014-09-11T09:00:12Z", "reference": "xwd", "status": "successful", "created":
        "2014-09-17T12:22:06Z", "author": null, "modified": "2014-09-17T12:22:07Z",
        "updated_by": null}'
  recorded_at: Fri, 10 Apr 2015 15:37:26 GMT
recorded_with: VCR 2.9.3
