---
http_interactions:
- request:
    method: get
    uri: https://staging.beyonic.com/api/collectionrequests/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token d349087313cc7a6627d77ab61163d4dab6449b4c
      Beyonic-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id": 3, "organization": 5, "amount": "3000.0000", "currency": "UGX",
        "phonenumber": "+256772781923", "created": "2015-04-11T22:06:21Z", "author":
        37, "modified": "2015-04-11T22:06:21Z", "updated_by": null}'
  recorded_at: Sat, 11 Apr 2015 22:06:30 GMT
recorded_with: VCR 2.9.3
