---
http_interactions:
- request:
    method: post
    uri: https://staging.beyonic.com/api/collectionrequests
    body:
      encoding: US-ASCII
      string: phonenumber=%2B256772781923&currency=UGX&amount=3000
    headers:
      Authorization:
      - Token d349087313cc7a6627d77ab61163d4dab6449b4c
      Beyonic-Version:
      - v1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id": 3, "organization": 5, "amount": "3000", "currency": "UGX", "phonenumber":
        "+256772781923", "created": "2015-04-11T22:06:21.684Z", "author": 37, "modified":
        "2015-04-11T22:06:21.685Z", "updated_by": null}'
  recorded_at: Sat, 11 Apr 2015 22:06:21 GMT
recorded_with: VCR 2.9.3
