---
http_interactions:
- request:
    method: post
    uri: https://staging.beyonic.com/api/collectionrequests
    body:
      encoding: US-ASCII
      string: phonenumber=%2B40715441309&currency=BXC&amount=3000&metadata.my_id=123ASDAsd123
    headers:
      Authorization:
      - Token c4269a8029e8a7c5659d3cb7829ce1d7319b4689
      Beyonic-Version:
      - v1
      Beyonic-Client:
      - Ruby
      Beyonic-Client-Version:
      - 0.0.11
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Wed, 24 Aug 2016 12:42:12 GMT
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":60,"organization":"Zeptohub","amount":"3000.0000","currency":"BXC","phonenumber":"+40715441309","reason":"","metadata":{"my_id":"123ASDAsd123"},"created":"2016-08-24T12:42:12.257718Z","author":1,"modified":"2016-08-24T12:42:12.257755Z","updated_by":1,"collection":null,"success_message":"","instructions":null,"send_instructions":false}'
  recorded_at: Wed, 24 Aug 2016 12:42:12 GMT
recorded_with: VCR 3.0.3
