---
http_interactions:
- request:
    method: get
    uri: https://staging.beyonic.com/api/payments/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token d349087313cc7a6627d77ab61163d4dab6449b4c
      Beyonic-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id": 211, "organization": 5, "amount": "100.2000", "currency": "UGX",
        "payment_type": "money", "metadata": {"id": "1234", "name": "Lucy"}, "description":
        "Per diem payment", "phone_nos": ["+256773712831"], "state": "new", "last_error":
        null, "rejected_reason": null, "rejected_by": null, "rejected_time": null,
        "cancelled_reason": null, "cancelled_by": null, "cancelled_time": null, "created":
        "2015-04-08T17:14:48Z", "author": 37, "modified": "2015-04-08T17:14:48Z",
        "updated_by": null, "start_date": "2015-04-08T17:14:48Z"}'
  recorded_at: Wed, 08 Apr 2015 17:14:55 GMT
recorded_with: VCR 2.9.3
