---
http_interactions:
- request:
    method: post
    uri: https://staging.beyonic.com/api/payments
    body:
      encoding: US-ASCII
      string: invalid_payload=true
    headers:
      Authorization:
      - Token d349087313cc7a6627d77ab61163d4dab6449b4c
      Beyonic-Version:
      - v1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"currency": ["This field is required."], "amount": ["This field is
        required."], "phonenumber": ["This field is required."], "description": ["This
        field is required."]}'
  recorded_at: Wed, 08 Apr 2015 17:14:49 GMT
recorded_with: VCR 2.9.3
