---
http_interactions:
- request:
    method: get
    uri: https://staging.beyonic.com/api/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token d349087313cc7a6627d77ab61163d4dab6449b4c
      Beyonic-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '[{"id": 49, "created": "2015-04-08T16:50:32Z", "updated": "2015-04-08T16:50:32Z",
        "user": 37, "event": "payment.status.changed", "target": "https://my.website/payments/callback"},
        {"id": 52, "created": "2015-04-08T17:14:57Z", "updated": "2015-04-08T17:14:57Z",
        "user": 37, "event": "payment.status.changed", "target": "https://my.callback.url/"}]'
  recorded_at: Wed, 08 Apr 2015 17:15:01 GMT
recorded_with: VCR 2.9.3
