---
http_interactions:
- request:
    method: get
    uri: https://staging.beyonic.com/api/webhooks/666
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token d349087313cc7a6627d77ab61163d4dab6449b4c
      Beyonic-Version:
      - v1
  response:
    status:
      code: 500
      message: INTERNAL SERVER ERROR
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en-us
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
            <title></title>
            <meta charset="utf-8">
        </head>
        <body>

        <div id="container">
            Server Error
        </div>

        </body>
        </html>
  recorded_at: Wed, 08 Apr 2015 17:15:06 GMT
recorded_with: VCR 2.9.3
