---
http_interactions:
- request:
    method: patch
    uri: https://staging.beyonic.com/api/webhooks/52
    body:
      encoding: US-ASCII
      string: target=https%3A%2F%2Fmy.callback2.url%2F
    headers:
      Authorization:
      - Token d349087313cc7a6627d77ab61163d4dab6449b4c
      Beyonic-Version:
      - v1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS, PATCH
    body:
      encoding: UTF-8
      string: '{"id": 52, "created": "2015-04-08T17:14:57Z", "updated": "2015-04-08T17:15:07.049Z",
        "user": 37, "event": "payment.status.changed", "target": "https://my.callback2.url/"}'
  recorded_at: Wed, 08 Apr 2015 17:15:07 GMT
recorded_with: VCR 2.9.3
