---
http_interactions:
- request:
    method: post
    uri: https://staging.beyonic.com/api/webhooks
    body:
      encoding: US-ASCII
      string: event=payment.status.changed&target=https%3A%2F%2Fmy.callback.url%2F
    headers:
      Authorization:
      - Token d349087313cc7a6627d77ab61163d4dab6449b4c
      Beyonic-Version:
      - v1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id": 52, "created": "2015-04-08T17:14:57.945Z", "updated": "2015-04-08T17:14:57.945Z",
        "user": 37, "event": "payment.status.changed", "target": "https://my.callback.url/"}'
  recorded_at: Wed, 08 Apr 2015 17:14:57 GMT
recorded_with: VCR 2.9.3
